@{
    ViewBag.Title = "About";
}

@section Body {
    <br /><br /><br />
    <div class="container">
        <form action="/Home/Guest">
            <div class="form-group">
                <input type="text" name="Name" placeholder="Name" class="form-control" />
            </div>
            <div class="form-group">
                <textarea name="Text" placeholder="Text" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Confirm</button>
        </form>
        <br />
        <div class="reviews">
            <ol class="list-unstyled">
                @if (ViewBag.AddText)
                {
                    <li class="border-dark">
                        <h2 class="blog-post-title">@ViewBag.Name</h2>
                        <p class="blog-post-meta">
                            @DateTime.Now.Hour:@DateTime.Now.Minute:@DateTime.Now.Second,
                            @DateTime.Now.Month/@DateTime.Now.Day/@DateTime.Now.Year
                        </p>
                        <p class="text-monospace">@ViewBag.Text</p>
                    </li>
                }
                

            </ol>
        </div>
    </div>
}
