
@{
    ViewBag.Title = "Result";
}

@section Body {
    <div class="container m-3">
        <h2 class="display-4">@ViewBag.Person</h2>
        <h3 class="display-4">@ViewBag.Sex</h3>
        <h4 class="display-4">@ViewBag.Languages</h4>
    </div>
}
