@model mvc_dz.WEB.Models.IndexViewModel<QuestionaryResult, QuestionaryResult>
@using mvc_dz.DAL.Tables;
@using mvc_dz.WEB.App_Code
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Answers";
}

@section Body {
    <div class="answers mt-4">
        @Html.CreateAnswers(Model.Posts as List<QuestionaryResult>)
    </div>

    <div class="btn-group">
        @Html.PageLinks(Model.Pager, x => Url.Action("Index", new { page = x }))
    </div>
}

